
<%= form_with url:post_destiny_path, class:'my-class' do |f| %>
<h1>como devemos te chamar?
</h1>
    <%= f.text_field :name ,placeholder: "Nome"  %>
    <h1>qual seu email?</h1>
     <%= f.email_field :email , placeholder: "exemplo@email.com"%>
    <h1>telefone</h1>
    <%= f.text_field :phone ,placeholder: "(99)99999-9999"  %>
    <h1>mensagem</h1>
    <%= f.text_area :message , placeholder: "Escreva aqui"%>
    <%= f.submit "Enviar" %>
<% end %>
