// Place all the styles related to the Form controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-class{
    width: 40%;
    margin: 0 auto;
    font-family: "Ikaros";
    padding: 12px;

}

input{
    height: 40px;
    display: block;
    width: 120px;
    
}

input#name, #email, #phone{
    width: 400px;
    height: 40px;
    border: 3px solid #63A7C4;
    font-family: "Segoe UI";
}

textarea{
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    height: 150px;
    max-height: 150px;
    min-height: 150px;
    padding: 10px;
    border: 3px solid #63A7C4;
    font-size: 1em;
    font-family: "Segoe UI";
}

